@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');

:root {
    --color-primary: #e98519;
}

html, body {
    height: 100%;
    font-family: "Ceviche One", sans-serif;
}
h5{
    font-family: "Irish Grover";
}
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.text-primary {
    color: var(--color-primary) !important;
}

